.searchContainer {
  position: sticky;
  top: 2rem;
  background: white;
  padding: 36px 42px 36px 42px;
  z-index: 100;
  width: 10rem;
  height: 1rem;
  margin: 0 auto 2rem;
  box-sizing: content-box;
}

.searchForm {
  border-image-source: url("../styles/lindisfarne-border.svg");
  border-image-slice: 19;
  border-image-width: 30px;
  border-image-repeat: round;
  border-image-outset: 36px 42px;
  width: 10rem;
  height: 1rem;
  margin: 0;
}

.searchInput {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1em;
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: "Brill", "Noto Serif", serif;
  font-weight: 400;
  font-size: clamp(18px, 100vw / var(--width), 20px);
  font-feature-settings: "onum", "pnum";
  line-height: 1.5;
  color: var(--color-text);
}
