:root {
  --width: 34.5;
  --color-text: rgb(46, 31, 34);
}

/* https://iamkate.com/code/border-box/ */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

/* https://brill.com/page/resources_fontsdownloads */
@font-face {
  font-family: "Brill";
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
  src: local("Brill Roman x"), url("/fonts/Brill-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Brill";
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
  src: local("Brill Italic x"), url("/fonts/Brill-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Brill";
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
  src: local("Brill Bold x"), url("/fonts/Brill-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Brill";
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
  src: local("Brill Bold Italic x"),
    url("/fonts/Brill-BoldItalic.woff2") format("woff2");
}

/* other Latin/Greek/Cyrillic options:
- https://fonts.google.com/specimen/EB+Garamond
- https://fonts.google.com/specimen/Gentium+Plus
 */

/* recommend users to download Noto fonts to their system if they are seeing tofu:
 - https://notofonts.github.io/ (individually)
 - https://github.com/notofonts/notofonts.github.io/releases (all) 
  or SIL another option:
 - https://software.sil.org/fonts/ (individually)
- https://github.com/silnrsi/fonts/tree/main/fonts/sil (all)
*/

/* find other nice fonts to load here for other common historical languages */

html {
  font-family: "Brill", "Noto Serif", serif;
  height: 100%;
  font-weight: 400;
  font-size: clamp(18px, 100vw / var(--width), 20px);
  font-feature-settings: "onum", "pnum";
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: #fff;
  color: var(--color-text);
}

body {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

::selection {
  background-color: rgb(207, 180, 100, 0.7);
}

::placeholder {
  color: rgb(55, 43, 39);
  opacity: 0.7;
}

.main-content {
  width: 700px;
  margin: 0 auto;
}
